* {
  transition: .05s;
}
.error {
    color: red !important;
}
.backdrop {
        top: 0;
        position: fixed;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
    }
    .modal-content {
        width: 600px;
        z-index: 1;
        padding: 20px;
        margin: 100px auto;
        box-shadow: -1px 1px 2px rgba(13, 16, 18, 0.2), 1px -1px 2px rgba(13, 16, 18, 0.2), -1px -1px 2px rgba(53, 62, 70, 0.9), 1px 1px 3px rgba(13, 16, 18, 0.9), inset 1px 1px 2px rgba(53, 62, 70, 0.3), inset -1px -1px 2px rgba(13, 16, 18, 0.5) ;
        border-radius: 4px;
    }
    .modal-content h1{
        color: rgb(107, 107, 107);
        font-weight: 700;
    }
    .modal-content > input {
        width: 60%;
        margin: 10px auto;
        border-radius: 12px;
        padding: 5px;
        border: none;
        outline: none;
        color: #f2f2f2f2;
        background: #1A1D22;
        box-shadow: 1px 1px 2px rgba(42, 46, 54, 0.3), -1px -1px 2px rgba(10, 12, 14, 0.5), inset -1px 1px 2px rgba(10, 12, 14, 0.2), inset 1px -1px 2px rgba(10, 12, 14, 0.2), inset -1px -1px 2px rgba(42, 46, 54, 0.9), inset 1px 1px 3px rgba(10, 12, 14, 0.9);
    }
    .modal-content > div {
        display: flex;
    }
    .modal-content > div > button {
        width: 30%;
        margin: 10px auto;
        
        font-weight: bold;
        color: #fff;
        border-radius: 12px;
        padding: 5px;
}


.backdrop {
        top: 0;
        position: fixed;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
    }
    .modal-content {
        width: 600px;
        z-index: 1;
        padding: 20px;
        margin: 180px auto;
        background: url('../assets/bckg.jpg');
        background-size: cover;
        border-radius: 10px;
    }
    .modal-content h1{
        color: black;
    }
    .modal-content p{
        color: grey;
    }
    .dodaj {
        background: #343635 !important;
    }
    .dodaj:hover {
        background: #454746 !important;
        font-weight: 800 !important;
    }
    .anuluj { 
        background: #343635 !important;
    }
    .anuluj:hover {
        background: #454746 !important;
        font-weight: 800 !important;
    }
    .modal-content > div {
        display: flex;
    }
    .modal-content > div > button {
        width: 30%;
        margin: 10px auto;
        
        font-weight: bold;
        color: #fff;
        border-radius: 12px;
        padding: 5px;
    }

 .backdrop {
        top: 0;
        position: fixed;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
    }
    .modal-content {
        width: 600px;
        z-index: 1;
        padding: 20px;
        margin: 100px auto;
        background: url('../assets/bckg.jpg');
        background-size: cover;
        border-radius: 10px;
    }
    .modal-content h1{
        color: black;
    }
    .modal-content > input {
        width: 60%;
        margin: 10px auto;
        border-radius: 12px;
        padding: 5px;
        background: #1A1D22;
        box-shadow: 1px 1px 2px rgba(42, 46, 54, 0.3), -1px -1px 2px rgba(10, 12, 14, 0.5), inset -1px 1px 2px rgba(10, 12, 14, 0.2), inset 1px -1px 2px rgba(10, 12, 14, 0.2), inset -1px -1px 2px rgba(42, 46, 54, 0.9), inset 1px 1px 3px rgba(10, 12, 14, 0.9);
    }
    .modal-content > button {
        width: 30%;
        margin: 10px auto;
        background: #42b983;
        font-weight: bold;
        color: #fff;
        border-radius: 12px;
        padding: 5px;
    }
    .dodaj {
        background: #42b983;
    }
    .anuluj { 
        background: #f44336;
    }
    .modal-content > div {
        display: flex;
    }
    .modal-content > div > button {
        width: 30%;
        margin: 10px auto;
        
        font-weight: bold;
        color: #fff;
        border-radius: 12px;
        padding: 5px;
    }

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,900&display=swap');
#app {
  
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #ffffff;
  background: #1A1D22;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
}

#nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

#nav button {
  font-weight: bold;
  font-size: 85%;
  font-weight: 400;
  color: #ffffff;
  background: none;
  border-radius: 2px;
  border: none;
  margin: 10px;
  background: #1A1D22;
  box-shadow: -1px 1px 2px rgba(10, 12, 14, 0.2), 1px -1px 2px rgba(10, 12, 14, 0.2), -1px -1px 2px rgba(42, 46, 54, 0.9), 1px 1px 3px rgba(10, 12, 14, 0.9), inset 1px 1px 2px rgba(42, 46, 54, 0.3), inset -1px -1px 2px rgba(10, 12, 14, 0.5);
  width: 18%;
  height: 50px;
}

#nav button:hover {
  border: 1px solid rgba(255, 255, 255, 0.4);
}
body{
background: #282c33;
  }
.searchbar {
  position: fixed;
  display: flex;
  top: 10px;
  right: 30px;
  background: #21272C;
  box-shadow: -1px 1px 2px rgba(13, 16, 18, 0.2), 1px -1px 2px rgba(13, 16, 18, 0.2), -1px -1px 2px rgba(53, 62, 70, 0.9), 1px 1px 3px rgba(13, 16, 18, 0.9), inset 1px 1px 2px rgba(53, 62, 70, 0.3), inset -1px -1px 2px rgba(13, 16, 18, 0.5);
  border-radius: 4px;
}
.salary {
  background: white;
  position: fixed;
  display: flex;
  align-items: center;
  top: 50px;
  right: 30px;
}
.salary input {
  width: 80px;
  margin: 10px;
}
.searchbar > select {
  height: 30px;
  border-color: black;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  padding: 4px;
  color: white;
  background: #21272C;
  box-shadow: -1px 1px 2px rgba(13, 16, 18, 0.2), 1px -1px 2px rgba(13, 16, 18, 0.2), -1px -1px 2px rgba(53, 62, 70, 0.9), 1px 1px 3px rgba(13, 16, 18, 0.9), inset 1px 1px 2px rgba(53, 62, 70, 0.3), inset -1px -1px 2px rgba(13, 16, 18, 0.5);
  border: none;
  outline: none;
  cursor: pointer;
}


.searchbar > input {
  height: 30px;
  border-color: #42b983;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  text-align: center;
  color: white;
  padding: 2px 10px;
  background: #21272C;
  box-shadow: -1px 1px 2px rgba(13, 16, 18, 0.2), 1px -1px 2px rgba(13, 16, 18, 0.2), -1px -1px 2px rgba(53, 62, 70, 0.9), 1px 1px 3px rgba(13, 16, 18, 0.9), inset 1px 1px 2px rgba(53, 62, 70, 0.3), inset -1px -1px 2px rgba(13, 16, 18, 0.5);
  border: none;
 
}
.searchbar > input:focus {
  outline: none;

}
tbody{
  background: #F2F2F2F2;
    background: #21272C;
  box-shadow: -1px 1px 2px rgba(13, 16, 18, 0.2), 1px -1px 2px rgba(13, 16, 18, 0.2), -1px -1px 2px rgba(53, 62, 70, 0.9), 1px 1px 3px rgba(13, 16, 18, 0.9), inset 1px 1px 2px rgba(53, 62, 70, 0.3), inset -1px -1px 2px rgba(13, 16, 18, 0.5);
  color: #F2F2F2F2;
  }

thead tr th{
  
  color: #000000f2;
  font-weight: 900;
  border: none;
  

  }
  tbody tr:hover{
  color: rgb(12, 12, 12);
  
  }
 
td > button {
  background: transparent;
  border: none;
}
td > button:hover {
  color: #7b7b7b;
}
table.table{
  padding: 10px;
}
tr:hover {
  background: #aaa;
  cursor: pointer;
}
thead {
  background: #fafafa;
}
.delete:hover {
  color: red;
}
.edit:hover {
  color: #7b7b7b;
}
.edit-icon:hover {
  color: #0084ff;
}
